@model Domain.Models.UserGameRow
<div class="form-group form-inline" data-userid="@Model.UserIntId">
    <span class="">
        @Html.TextBoxFor(model => model.StartBet, new {@class = "form-control pull-center table_tb start_bet square"})
    </span>
    <span class="">
        @Html.TextBoxFor(model => model.EndBet, new { @class = "form-control pull-center table_tb end_bet square" })
    </span>
</div>
