@model Domain.Models.UserGameRow

<div class="form-group form-inline" data-userid="@Model.UserIntId">
    <input class="form-control pull-center text-box single-line" id="table_tb" data-val="true" data-val-number="The field End bet must be a number." data-val-range="Value must remain between 0 and 2" data-val-range-max="2" data-val-range-min="0" name="StartBet" type="number" value="">
    <input class="form-control pull-center text-box single-line" id="table_tb" data-val="true" data-val-number="The field End bet must be a number." data-val-range="Value must remain between 0 and 2" data-val-range-max="2" data-val-range-min="0" name="EndBet" type="number" value="">
</div>

