@model Web.ViewModels.HomeSinglePageViewModel
@{
    ViewBag.Title = Resources.Common.ApplicationName;
}
<!-- ===== Section Features ===== -->
<section id="section-features" class="section-features bgc-one">

    <div class="container">

        <h2>@Resources.Common.Features</h2>

        <div class="underline">
        </div>

        <div class="sub-sub">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit Reprehenderit.
        </div>

        <div class="features">

            <div class="row">

                <!-- ===== Feature Post===== -->
                <div class="col-md-4">
                    <div class="feature">
                        <div class="icon">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <h4>Fully Responsive</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sit nostrum eveniet aut et, impedit harum itaque ipsam error dolore ad aspernatur id iusto, cum eos reiciendis fuga vitae quaerat.
                        </p>
                    </div>
                </div>

                <!-- ===== Feature Post===== -->
                <div class="col-md-4">
                    <div class="feature">
                        <div class="icon">
                            <i class="fa fa-cog"></i>
                        </div>
                        <h4>Easy Edit</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita nisi temporibus dolorum quis, explicabo distinctio iusto in amet libero perferendis, quae laboriosam aliquid! Repudiandae libero quam deserunt, vel, magnam aliquid.
                        </p>
                    </div>
                </div>

                <!-- ===== Feature Post===== -->
                <div class="col-md-4">
                    <div class="feature">
                        <div class="icon">
                            <i class="fa fa-heart"></i>
                        </div>
                        <h4>I Love You</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates sequi, voluptatum, dolor quidem atque autem recusandae aliquam ex dolorum consectetur ipsum vitae, eos eveniet inventore iste illum architecto laboriosam aut.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
