@using Web.Helpers
@{
    var culture = CultureHelper.GetCurrentUICulture().ToLower();

    var nameValueCollection = HttpUtility.ParseQueryString(Request?.Url?.Query ?? "");
    nameValueCollection.Remove("culture");
    string returnUrl = Request?.Url?.AbsolutePath + "?" + nameValueCollection;
}
<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
        @Resources.Common.Language<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li>
            <ul class="list-inline">
                <li>
                    <img class="flag flag-et" />
                </li>
                <li>
                    @Html.ActionLink(Resources.Common.Estonian, "SetLanguage", new { area = "", controller = "Language", culture = "et", returnUrl }, htmlAttributes: new { id = "langLinkEst" })
                </li>
            </ul>
        <li>

        <li>
            <ul class="list-inline">
                <li>
                    <img class="flag flag-en" />
                </li>
                <li>
                    @Html.ActionLink(Resources.Common.English, "SetLanguage", new { area = "", controller = "Language", culture = "en", returnUrl }, htmlAttributes: new { id = "langLinkEng" })
                </li>
            </ul>
        </li>
    </ul>
</li>