<footer class="bgc-two">
    <div class="container">


        <ul class="social-icons">
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-google"></i></a></li>
            <li><a href=""><i class="fa fa-youtube"></i></a></li>
        </ul>

        <div class="copyright">
            ©2015 All Right Reserved.
        </div>

    </div>
</footer>
